**__pycache__**
**.pytest_cache**
**.venv**
.mypy_cache/
Generated_VBR/
Generated_VBR_Sparse/
generated_vector_*.vector
generated_matrix_*.matrix
!generated_matrix_11x512.matrix
Generated_MMarket/
Generated_MMarket_Sparse/
Generated_SpMV/
Generated_SpMV_Sparse/
Generated_SpMV_Sparse_Bad/
Generated_SpMM/
Generated_SpMM_Sparse/
Generated_SpMM_Sparse_Bad/
tests_spmv/
tests_spmm/
tests/a.out
tests/example.mtx
tests/example
tests/example.c
**/*.pdf
**/*.txt
