[submodule "spv8-public"]
	path = spv8-public
	url = https://github.com/reikdas/spv8-public.git
	branch = reikdas/c
[submodule "find-submatrices"]
	path = find-submatrices
	url = https://github.com/reikdas/find-submatrices.git
	branch = main
[submodule "sparse-register-tiling"]
	path = sparse-register-tiling
	url = https://github.com/reikdas/sparse-register-tiling.git
	branch = main
