**__pycache__**
**.pytest_cache**
**.venv**
.mypy_cache/
Generated_VBR/
generated_vector_*.vector
generated_matrix_*.matrix
!generated_matrix_11x512.matrix
Generated_MMarket/
Generated_SpMV/
Generated_SpMM/
tests_spmv/
tests_spmm/
benchmarks_*.txt
tests/a.out
tests/example.mtx
tests/example
tests/example.c
tests/output.txt
