**__pycache__**
**.pytest_cache**
**.venv**
.mypy_cache/
Generated_VBR*/
Generated_MMarket*/
Generated_SpMV*/
Generated_SpMM*/
Generated_dense_tensors/
manual_vbr/
Real_mtx/
Real_vbr/
tests_spmv/
tests_spmm/
tests/a.out
tests/example.mtx
tests/example
tests/example.c
tests/example.cu
tests/output.txt
tests/foo.vbr
dlmc/
Suitesparse*/
split-and-binaries/
studies/threshold_results.csv
mat_dist*.csv
